@use "../../sass/base/" as *;

.movie-card {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba($black, 0.1);
  overflow: hidden;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba($black, 0.2);
  }

  &__details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    line-height: 0.5;
  }

  &__item {
    margin: 0.5rem 0;
  }

  &__title {
    font-weight: bold;
    color: $black;
  }

  &__release-year {
    font-size: 1rem;
    color: $gray-600;
  }
}
