@use "../../sass/base/" as *;

.movie-card {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba($black, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 100%;
  max-width: 18.75rem;
  min-width: 18.75rem;
  margin: 1rem;

  &:hover {
    transform: translateY(-5px);
  }

  &__poster {
    width: 100%;
    height: auto;
  }

  &__content {
    padding: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  &__genre,
  &__release-year,
  &__description {
    margin: 0.5rem 0;
  }

  &__description {
    color: $gray-700;
  }
}
