@use "../../sass/base/" as *;

.add-form {
  background-color: $white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba($black, 0.1);
  max-width: 37.5em;
  margin: 2rem auto;
  width: -webkit-fill-available;

  &__group {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    color: $gray-900;
    margin-bottom: 0.5rem;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $gray-400;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:focus {
      border-color: $primary;
      outline: none;
    }
  }

  &__textarea {
    resize: vertical;
  }
}
