@use "../../sass/base/" as *;

.movie-details {
  display: flex;
  align-items: center;
  background-color: $gray-200;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba($black, 0.1);
  transition: transform 0.2s;
  padding: 1rem;
  margin: 1rem 0;

  &__poster {
    width: 9.375rem;
    height: 14.0625rem;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__genre,
  &__release-year,
  &__description {
    margin: 0.5rem 0;
  }

  &__description {
    color: $gray-600;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $blue;
    }

    &--cancel {
      background-color: $cancel-color;

      &:hover {
        background-color: $cancel-hover-color;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $primary;
    font-size: 1rem;
    transition: color 0.2s;
    align-self: center;

    &:hover {
      color: $blue;
    }
  }

  @media (max-width: 43.75em) {
    flex-direction: column;
    align-items: flex-start;

    &__poster {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &__content {
      align-items: center;
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__actions {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__button {
      width: 100%;
      text-align: center;
    }

    &__link {
      width: 100%;
      text-align: center;
    }
  }
}
