@use "../../sass/base/" as *;

.navbar {
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;

  &__item {
    transition: all 0.2s ease;
    padding: 0.5rem 1rem;
    border-radius: 4px;

    &:hover {
      background-color: $gray-800;
      cursor: pointer;
    }

    &:active {
      background-color: $gray-600;
      transform: scale(0.95);
    }
  }

  @media (max-width: 43.75em) {
    gap: 0;

    &__item {
      width: 100%;
      text-align: center;
    }
  }
}
