// Swatch
$primary: #007bff;
$secondary: #6c757d;
$trinary: #6c757d;

$blue: #0056b3;

// Black and White
$black: #000;
$eerie-black: #181818;
$white: #fff;

// gray scale colors
$gray-100: #f5f5f5;
$gray-200: #f9f9f9;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// dark gray scale colors
$dark-gray-100: #4a4b4c;
$dark-gray-200: #3a3b3c;

// semantic colors
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// Cancel Button
$cancel-color: #dc3545;
$cancel-hover-color: #c82333;

// bg and text colors
$background-color: $gray-100;
$text-color: $gray-900;
