// Swatch
$primary: #007bff;
$secondary: #6c757d;
$trinary: #6c757d;

// Black and White
$black: #000;
$eerie-black: #181818;
$white: #fff;

// bg and text colors
$background-color: $gray-100;
$text-color: $gray-900;

// gray scale colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// dark gray scale colors
$dark-gray-100: #4a4b4c;
$dark-gray-200: #3a3b3c;

// semantic colors
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// link colors
// $link-color: $tiffany-blue;
$link-hover-color: $gray-800;
$link-active-color: $gray-800;
$link-focus-color: $gray-800;

// button colors
// $button-color: $tiffany-blue;
$button-hover-color: $gray-800;
$button-active-color: $gray-800;
$button-focus-color: $gray-800;

// border colors
$border-color: $gray-200;
$border-hover-color: $gray-300;
$border-active-color: $gray-300;
$border-focus-color: $gray-300;

// shadow colors
$shadow-color: $gray-500;
$shadow-hover-color: $gray-600;
$shadow-active-color: $gray-600;
$shadow-focus-color: $gray-600;

// input colors
$input-color: $gray-800;
$input-hover-color: $gray-900;
$input-active-color: $gray-900;
$input-focus-color: $gray-900;

// dark mode colors
$dark-mode-background-color: $eerie-black;
$dark-mode-text-color: $white;
