@use "colors" as *;
@use "typography" as *;

/* Remove default margin */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: $background-color;
  font-family: $font-primary;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

code {
  padding: 2px 5px;
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  word-break: break-word;
  overflow-x: auto;
}

pre > code {
  all: unset;
}

blockquote {
  padding: 0 0 0 1.25rem;
  margin: 0px;
  font-size: 1.333rem;
}

main {
  flex: 1;
  max-width: 75em;
  width: 100%;
  margin: 0 auto;
  align-content: center;

  @media (max-width: 75em) {
    padding: 3rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
